# Vscode settings
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# logs
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Models
cifar10_*
cifar100_*
finetune*
tinyimagenet_*
